# **First Work with py**

## ***Name: Liel Busi***



---



![image.png]()

# **Basic method - print**

---

In [1]:
print("hello world!")

hello world!

# **Question 2**

---

In [10]:
n1 = int(input('Enter a number: '))
n2 = int(input('Enter another number: '))

print("sum: ", (n1 + n2))
print("int div", (n1//n2))
print("real div", (n1/n2))
print(n1 > n2)
print(n1 %2 == 0 and n2 % 2 == 0)
print("n1 type: ", (type(n1)), ", n2 type: ", type(n2))

Enter a number: 11
Enter another number: 51
sum:  62
int div 0
real div 0.21568627450980393
False
False
n1 type:  <class 'int'> , n2 type:  <class 'int'>

# **Question 3**

---

* 8 byte = 64 bit
* max number = 1.8446744e+19
* lets show bigger number (int)

In [43]:
n3 = int(2e+19)
print(n3, type(n3))

20000000000000000000 <class 'int'>

# **Question 4**

---

* The thing we need to change from question 1 is the casting from int to float.

In [17]:
n1 = float(input('Enter a number: '))
n2 = float(input('Enter another number: '))

print("sum: ", (n1 + n2))
print("int div", round(n1//n2)) # to get the devide solution as int we use round, another method in python
print("real div", (n1/n2))
print(n1 > n2)
print(n1 %2 == 0 and n2 % 2 == 0)
print("n1 type: ", (type(n1)), ", n2 type: ", type(n2))

Enter a number: 154.9
Enter another number: 54
sum:  208.9
int div 2
real div 2.8685185185185187
True
False
n1 type:  <class 'float'> , n2 type:  <class 'float'>

# **Question 5**

---

* just print a very large number

In [22]:
n5 = 1253125125312531253.2153
print(n5)

1.2531251253125312e+18

# **Question 6**

---

In [21]:
n4 = 1.984564323444444444125312512531253125332535125331312523544334234524355
print(n4)

1.9845643234444443

# **Question 7**

---

In [29]:
x1 = float(input('Enter a number: '))
y1 = float(input('Enter another number: '))
x2 = float(input('Enter another number: '))
y2 = float(input('Enter another number: '))

# finding the line equation
m = (y1 - y2) / (x1 - x2)
b = y1 - m*x1

Enter a number: 0
Enter another number: 5
Enter another number: 3
Enter another number: 8

In [34]:
# get new x,y
x3 = float(input('Enter another number: '))
y3 = float(input('Enter another number: '))

Enter another number: -1
Enter another number: 4

In [36]:
import math

In [37]:
# function the getting line equation and another point
# if the point on the line, the function returns true
# else - false
def is_on_line(m, b, x,y):
    if(math.isclose(y, m*x + b)):
      return True
    return False

In [38]:
print(is_on_line(m, b, x3, y3))

True

# **Question 8**

---

* In this question we need to use that false = 0, true = 1.

In [40]:
def calculate_points(easy_completed, hard_completed):
  return 10*easy_completed + 20*hard_completed + 5*(easy_completed and hard_completed)

In [41]:
calculate_points(True, False)

10